html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	width: 0px;
}

#nav_Bar {
	background-color: #18EAAF;
}

#rightNav {
	margin-right: 5px;
}

#rightNav li {
	margin-right: 10px;
	transform: translateY(12px);
}

#activities {
	margin-bottom: 30px;
}

#buttonBar {
	text-align: center;
}

#cardAct {
	cursor: grab;
}



#cancel_button {

}

#sign_up {
	margin-top:40px;
}

.cost-title {
	float:right;
}

.sticky_buttons {
	width: 4em;
}

.icons {
	width: 25px;
}

.stars {
	width: 35px;
}

.information {
	position: absolute;
	bottom: 10px;
	right: 25px;
}

.info {
	width: 35px;
}

.ecoratings {
	clear:both;
}

@media screen and (min-width: 992px){
  .heading {
	font-size: 12pt;
  }
   #logo {
  	width: 180px;
  	transform:translateY(20px);
  }
  #favs {
	width: 40px;
	background-color: #18EAAF;
  }
}

@media screen and (max-width: 992px){
  .heading {
	font-size: 14pt;
  }

  #logo {
  	width: 140px;
  	transform: translateX(10px) translateY(20px);
  }

  #favs {
	width: 35px;
	background-color: #18EAAF;
}
}
