.noMargin {
    margin: 0 !important;
    padding: 0 !important;
}

.cardTopClosed {
    width: 100%;
    height: 85%;
    transition: height 500ms;
}

.cardTopOpened {
    width: 100%;
    height: 80%;
    transition: height 500ms;
}

.cardClosed {
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    width: 100%;
    height: 15%;
    transition: 500ms all ease;
}

.cardOpened {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 20%;
    transition: 500ms all ease;
}

.cardBgOpened {
    margin: 0em;
    height: 250px;
    width: 100%;
    transition: 500ms all ease;
}

.cardBgClosed {
    margin: 0em;
    height: 400px;
    width: 100%;
    transition: 500ms all ease;
}

.cardExpanded {
    padding: 0px;
    transition: 500ms all ease;
}

.cardCollapsed {
    padding: 30px;
    transition: 500ms all ease;
}

.cardAnimationDefault {
    padding: 2em;
}

.cardAnimation-enter {
    padding: 2em;
}

.cardAnimation-enter-active {
    padding: 0em;
    transition: 500ms all ease;
}

.cardAnimation-enter-done {
    padding: 0em;
}

.cardAnimation-exit {
    padding: 0em;
}

.cardAnimation-exit-active {
    padding: 2em;
    transition: 500ms all ease;
}

.cardAnimation-exit-done {
    padding: 2em;
}

.saveButtonAnimationDefault {
    position: absolute !important;
    top: 325px;
    right: 10%;
}

.saveButtonAnimation-enter {
    top: 325px;
    right: 10%;
}

.saveButtonAnimation-enter-active {
    top: 180px;
    right: 10%;
    transition: 500ms all ease;
}

.saveButtonAnimation-enter-done {
    top: 180px;
    right: 10%;
}

.saveButtonAnimation-exit {
    top: 180px;
    right: 10%;
}

.saveButtonAnimation-exit-active {
    top: 325px;
    right: 10%;
    transition: 500ms all ease;
}

.saveButtonAnimation-exit-done {
    top: 325px;
    right: 10%;
}

button:focus {outline:0;}